
.Rhistory
ipynb/.ipynb_checkpoints/comparison-checkpoint.ipynb
ipynb/.ipynb_checkpoints/comparsion-checkpoint.ipynb
ipynb/.ipynb_checkpoints/classifiers-checkpoint.ipynb
ipynb/.ipynb_checkpoints/naive-checkpoint.ipynb
